.single-business-page {
  /* ... other styles */
  background-size: cover; /* Set background size to cover */
  background-repeat: no-repeat;
  background-position: center center;
}

.single-business-container,
.business-image {
  width: 100%;
  border-radius: 8px;
}

.single-business-container {
  padding: 20px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px; /* Add vertical spacing between elements */
}

.business-image {
  height: 300px;
  object-fit: cover;
  object-position: center center;
  margin-bottom: 20px;
}

/* Business details */
.business-details {
  text-align: left;
  margin-bottom: 20px; /* Add margin to give space below the text */
}

.business-details h2 {
  font-size: 24px;
  margin: 0; /* Remove top margin */
  color: #333;
}

.business-details div {
  font-size: 16px;
  color: #666;
}

/* Review buttons */
.review-button-container {
  margin-top: 20px;
}

.manage-business-button,
.write-review-button,
.review-buttons button,
.add-review-button {
  margin-top: 10px;
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 150px;
  width: 100%;
  text-align: center;
}

.manage-business-button,
.write-review-button,
.review-buttons button {
  background-color: red;
}

.manage-business-button:hover,
.write-review-button:hover,
.review-buttons button:hover {
  background-color: #aa0000;
}

.add-review-button {
  background-color: #ff4500; /* Adjust the color as needed */
}

.add-review-button:hover {
  background-color: #c13500; /* Adjust the hover color as needed */
}

/* Reviews container */
.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px; /* Add vertical spacing between reviews */
  width: 100%; /* Make sure it spans the entire width */
}

@media (min-width: 600px) {
  .reviews-container {
    max-width: 600px;
  }
}

/* SingleBusiness.css */
.business-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.business-rating {
  font-size: 24px;
  color: gold;
}

