.landing-page {
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    max-width: 40vw; /* Adjust the percentage of viewport width as needed */
    height: auto; /* Maintain the aspect ratio */
  }
  
  
  
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navigation li {
    margin-right: 20px;
  }
  
  .navigation a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .main-content {
    padding: 20px;
  }
  
  .search-bar {
    margin-bottom: 30px;
  }
  
  .search-bar input {
    padding: 10px;
    width: 80%;
  }
  
  .search-bar button {
    padding: 10px;
    width: 15%;
    margin-left: 5%;
  }
  
  .featured-businesses {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .business {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .business img {
    max-width: 100%;
    height: auto;
  }
  
  .business h3, .business p {
    margin: 10px;
  }
  