.dropdown-menu button {
  all: unset;
  cursor: pointer;
  padding: 5px;
  background-color: transparent;
  width: 100%;
  text-align: left;
  border: none;
  font-size: 14px;
}

.dropdown-menu button:hover {
  background-color: transparent;
}
