.footerWrapper {
  background-color: #f3f3f3;
  color: #333;
  padding: 1rem;
}

.footer-container {
  width: 80%;
  height: 100%;
  margin: auto;
}

.footer-header {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #333;
  align-self: flex-start;
}

.footer-header h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #333;
  display: flex;
  align-items: center;
}

.footer-header h1 img {
  margin-right: 30px;
}

.footer-col {
  display: flex;
  justify-content: space-between;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #333;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
  color: #333;
  gap: 10px;
}

.footer-links h1 {
  font-weight: 500;
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
}

.footer-links h1 img {
  margin-right: 30px;
}

.logo-text-spacing {
  margin-right: 30px;
}
