/* Updated ProfileButton.css */

.profile-wrapper {
  position: relative;
  width: 100%;
}

.userIcon {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 20px;
}

.iconLinks {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 20px;
}

.profileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  line-height: 0;
  margin-left: 5px;
}

.profileImage .profileIcon {
  margin-right: -2.6px;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 60px;
  width: 200px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.profile-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-dropdown li {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.profile-dropdown li:hover {
  background-color: #f1f1f1;
  color: #007bff;
}

.logoutButton {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #ff1a1a;
  transition: background-color 0.3s, color 0.3s;
}

.logoutButton:hover {
  background-color: #ff6666;
  color: white;
}
